.vp-callout {
  border-left: 4px solid var(--callout-color);
  background: rgba(255, 255, 255, 0.05);
  padding: 1em 1.2em;
  border-radius: 8px;
  margin: 1em 0;
}

.vp-callout .callout-title {
  font-weight: 700;
  margin-bottom: 0.4em;
}

.vp-callout .iconify.callout-icon {
  margin-right: 0.5em;
  vertical-align: middle;
}

mark {
  background-color: #fff59d;
  padding: 0 0.2em;
  border-radius: 2px;
}
